/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

html {
    background: url(images/cloud.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    font-family: 'Itim', cursive;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem;
}

#title {
    grid-column: span 2;
    font-size: 2rem;
    color: #263238;
    text-align: center;
    padding: 1rem;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Itim', cursive;
    font-size: 1.5rem;
    color: #263238;
    background: #f5f5f543;
    border: 1px solid #E7EBED;
    border-radius: 5%;
    box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.82);
    -webkit-box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.82);
    -moz-box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.82);
    padding: 2rem;
    margin-inline: auto;
}

.entry {
    align-self: center;
    height: 35rem;
    width: 35rem;
    background: url(images/Circle.png);
    background-size: cover;
    font-family: 'Itim', cursive;
    font-size: 1.5rem;
    color: #263238;
    text-align: center;
    padding-top: 12rem;
    opacity: 0.09;
}

.data {
    margin-bottom: 1rem;
}

#entryHolder {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 1.5;
}


label {
    display: block;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 1rem;
}

input {
    display: block;
    height: 3.5rem;
    width: 20rem;
    background:#52a8c09c;
    color: #f4d37ec0;
    font-size: 1.2rem;
    font-family: 'Itim', cursive;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

#generate {
    width: 15rem;
    height: 5rem;
    background: #546997;
    color: #f4d37ec0;
    font-size: 1.8rem;
    font-family: 'Itim', cursive;
    border: none;
    border-radius: 1rem;
    box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.82);
    -webkit-box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.82);
    -moz-box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.82);
    cursor: pointer;
    margin-top: 1rem;
    margin-inline: auto;
}

#generate:hover {
    background: #022547;
}


textarea{
    background: #52a8c09c;
    color: #f4d37ec0;
    font-size: 1.2rem;
    font-family: 'Itim', cursive;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
}





/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f4d37ec0; 
    font-family: 'Itim', cursive;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f4d37ec0; 
    font-family: 'Itim', cursive;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f4d37ec0; 
    font-family: 'Itim', cursive;

} 